@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");
@import url('../css/main.css');


.wapper {
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-details {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(22, 25, 39, 50%);
  width: clamp(300px, 80%, 1000px);
  min-height: 460px;
  padding: 3vw;
  color: var(--blue-50);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 200px;
}

.imgBox {
  width: clamp(50px, 20%, 200px);
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  overflow: hidden;
}

.imgBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infosBox > .titleBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
}

.titleBox > span {
  color: var(--blue-200);
  transform: translateY(5px);
}

h1 {
  font-size: var(--h2-size);
}

.card-main {
  /* background-color: lightblue; */
  padding-left: min(20vw, 190px);
  padding-top: 20px;
}

.card-main > p {
  font-size: var(--text-m-size);
} 

.card-main > p > span {
  font-weight: 600;
}

.card-main > * + * {
  margin-top: 20px;
}


.goBackBox {
  position: absolute;
  top: 50px;
  left: 100px;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.goBackBox > a {
  color: var(--blue-200);
  text-decoration: none;
  font-size: var(--text-p-size);
  /* font-weight: 600; */
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: 'Outfit', sans-serif;
}

.goBackBox > a > i {
  transition: 0.3s;
}

.goBackBox > a:hover > i {
  transform: translateX(-7px);
}

/* @media (max-width: 600px) {
  .imgBox {
    display: none;
  }
} */

