@import url(./main.css);

html {
  scroll-padding-top: 100px;
}

.cardsBox {
  padding-block-start: 50px;
  padding-inline: var(--padding-inline);
}

.cardsBox__filterSearch {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.cardsBox__filterBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.cardsBox__filterBox > .filterbtn {
  border: none;
  color: var(--texte-primaire);
  font-size: 1rem;
  background-color: var(--fond-block-infos);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.filterbtn:hover {
  background-color: var(--fond-hovered);
}

.cardsBox__filterBox > .tagsList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.tagsList > .tag {
  display: none;
}

.tagsList > .tag.visible {
  display: block;
  padding: 5px 15px;
  background-color: var(--fond-block-infos);
  border-radius: 20px;
  cursor: pointer;
}

.tagsList > .tag.visible > span,
.cardsBox__filterBox > .filterbtn > i {
  margin-left: 10px;
}

.tagsList > .tag.visible:hover {
  background-color: var(--fond-hovered);
}

.tagsList > .tag.visible > i:hover {
  color: var(--danger-color);
}

#filterList[popover] {
  inset: unset;
  top: anchor(bottom);
  left: anchor(center);
  translate: -50%;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--fond-block-infos);
  border: none;
  width: 150px;
  border-radius: 10px;
}

#filterList[popover] > div {
  width: 100%;
  /* background-color: lightblue; */
  border-radius: 5px;
  padding: 10px;
  color: var(--texte-sous-texte);
  cursor: pointer;
}

#filterList[popover] > div:hover {
  background-color: var(--fond-hovered);
}

.cardsList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: clamp(20px, 5vw, 40px);
  margin-top: 50px;
}

.card {
  position: relative;
  width: 170px;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.card:hover img {
  transform: scale(1);
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 10px;
  padding-block-start: 5px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 70%) 40%,
    rgba(0, 0, 0, 0%)
  );
}

.card-name {
  font-weight: 500;
  font-size: 16px;
  color: var(--texte-sous-texte);
}

.card-actor {
  color: var(--texte-sous-texte);
  font-size: 0.9rem;
}

.fa-house,
.fa-house-circle-xmark {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25px;
  right: -10px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 30px;
  aspect-ratio: 1;
  background-color: var(--fond-block-infos);
  border: 1px solid var(--bordure-objet);
  border-radius: 60%;
  color: black;
  font-size: 14px;
}

i.gryffindor {
  color: hsl(20, 77%, 40%);
}

i.slytherin {
  color: hsl(120, 40%, 40%);
}

i.hufflepuff {
  color: hsl(40, 100%, 40%);
}

i.ravenclaw {
  color: hsl(210, 59%, 40%);
}

.searchBox{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  background-color: var(--fond-block-infos);
  padding: 15px 30px ;
  border-radius: 30px ;
  cursor: pointer;
  border: 1px solid var(--fond-block-infos);
}

.searchBox svg {
  fill: var(--texte-sous-texte);
  width: 20px;
  height: 20px;
}

.searchBox input {
  outline: none;
  border: none;
  background: none;
  color: var(--texte-sous-texte);
  font-size: 18px;
}

.searchBox input::placeholder {
  color: var(--blue-400);
}

.searchBox:has(input:focus) {
  border: 1px solid var(--secondary);
}

.card.hidden {
  display: none;
}

#boxError {
  font-size: var(--text-p-size);
  color: var(--texte-sous-texte);
  text-align: center;
}