@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap");

:root {
  --h1-size: calc(30px + 4vw);
  --h2-size: calc(20px + 2vw);
  --h3-size: calc(16px + 1vw);
  --text-mp-size: calc(12px + 0.1vw);
  --text-p-size: calc(14px + 0.2vw);
  --text-m-size: calc(16px + 0.2vw);
  --text-infos-size: calc(10px + 0.5vw);
  --padding-inline: 5vw;
  --padding-inline2: 15vw;
  --border-style: 1px solid var(--blue-800);
  --danger-color-hover: rgb(180, 65, 65);
  
}

:root[data-theme="dark"] {
  --bordure-objet: var(--bordure-objet-dark);
  --bordure-section: var(--bordure-section-dark);
  --fond-block-infos: var(--fond-block-infos-dark);
  --fond-hovered: var(--fond-hovered-dark);
  --fond-hovered-menu: var(--fond-hovered-menu-dark);
  --fond-primaire: var(--fond-primaire-dark);
  --texte-primaire: var(--texte-primaire-dark);
  --texte-reversed: var(--texte-reversed-dark);
  --texte-sous-texte: var(--texte-sous-texte-dark);
  --texte-sous-texte-2: var(--texte-sous-texte-2-dark);
  --dark-filter: var(--filter);
  --transparent-section: var(--transparent-section-dark);
}

:root[data-theme="light"] {
  --bordure-objet: var(--bordure-objet-light);
  --bordure-section: var(--bordure-section-light);
  --fond-block-infos: var(--fond-block-infos-light);
  --fond-hovered: var(--fond-hovered-light);
  --fond-hovered-menu: var(--fond-hovered-menu-light);
  --fond-primaire: var(--fond-primaire-light);
  --texte-primaire: var(--texte-primaire-light);
  --texte-reversed: var(--texte-reversed-light);
  --texte-sous-texte: var(--texte-sous-texte-light);
  --texte-sous-texte-2: var(--texte-sous-texte-2-light);
  --light-filter: var(--filter);
  --transparent-section: var(--transparent-section-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, .wrapper {
  overflow: hidden;
  font-family: 'Outfit', sans-serif;
  background-color: var(--fond-primaire);
}

.wrapper {
  display: flex;
  height: 100vh;
  position: relative;
}

.filter {
  position: fixed;
  inset: 0;
  background-color: rgba(8, 9, 14, 0.5);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
}

.filter.active {
  opacity: 1;
  visibility: visible;
}


nav.sidebar {
  --sidebar-width: 290px;
  height: 100%;
  width: var(--sidebar-width);
  color: var(--texte-sous-texte);
  padding-left: 30px;
  border-right: 3px solid var(--bordure-section);
  background-color: var(--fond-primaire);
}

.sidebar > .closeBtnBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  color: var(--texte-primaire);
  font-size: 25px;
}

.sidebar > .closeBtnBox > span {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.sidebar > .closeBtnBox > span:hover {
  background-color: var(--fond-hovered);
}

.infos-menu {
  margin: 0 0 10px 10px;
  text-transform: uppercase;
  font-size: var(--text-mp-size);
  color: var(--texte-sous-texte-2);
}

.navBox {
  /* position: relative; */
  height: 80%;
}

#nameData {
  font-size: var(--h3-size);
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding-inline-end: 20px;
  padding-top: 20px;
}

.navContainer > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.navContainer > ul > li {
  width: 100%;
}

.navContainer a {
  display: inline-block;
  font-size: var(--text-p-size);
  color: var(--texte-sous-texte);
  text-decoration: none;
  padding: 10px 0 10px 10px;
  width: 100%;
  border-radius: 5px;
}

.navContainer a[data-active="true"] {
  background-color: var(--fond-hovered-menu);
}

.navContainer a:hover {
  background-color: var(--fond-hovered-menu);
}

.pageContent {
  width: 100%;
}

.headerBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding-inline: 20px var(--padding-inline);
  border-bottom: 3px solid var(--bordure-section);
}


.headerInformationsBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.dateInfos {
  color: var(--texte-sous-texte-2);
  font-size: calc(var(--text-infos-size) + 2px);
}

.welcomingInfos {
  font-size: var(--text-infos-size);
  color: var(--texte-primaire);
}

.headerActionsBox {
  display: flex;
  align-items: center;
  gap: 2vw;
  /* color: var(--text); */
}

.notificationsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100vw;
  border: 1px solid var(--bordure-objet);
  background-color: var(--fond-block-infos);
  color: var(--texte-sous-texte);
  cursor: pointer;
  transition: background-color 0.3s;
}

.notificationsBtn:hover {
  background-color: var(--fond-hovered);
}

.profileBox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  background: none;
  border: none;
  color: var(--texte-primaire);
}

.profileBox:hover {
  background-color: var(--fond-hovered);
}

.profileImgBox {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.profileImgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#profilMenu[popover] {
  inset: unset;
  top: anchor(bottom);
  left: anchor(center);
  translate: -50%;
  margin-top: 20px;
  background-color: var(--fond-block-infos);
  border: none;
  width: 150px;
  border-radius: 5px;
}

#profilMenu[popover] button {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: var(--texte-reversed);
  background-color: var(--fond-block-infos);
  border: none;
  cursor: pointer;
  font-size: var(--text-p-size);
  font-family: 'Outfit', sans-serif;
}

#profilMenu[popover] button:hover {
  background-color: var(--danger-color);
}



main {
  position: relative;
  width: 100%;
  height: 100%;
  padding-inline: 10vw;
  padding-top: 80px;
}

main h2 {
  font-size: var(--h2-size);
  color: var(--texte-primaire);
  margin-bottom: 20px;
}


.profileDashboardBox__boosterBox {
  margin-top: 80px;
}

.statBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(5px, 1.5vw, 20px);
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
  height: clamp(100px, 20vw, 200px);
  background-color: var(--fond-block-infos);
  border: 1px solid var(--bordure-objet);
  border-radius: 10px;
  font-weight: 600;
  padding: 10px;
  color: var(--texte-sous-texte);

}

.statItem.cards {
  flex: 1.5;
}

.statItem__number {
  font-size: var(--h2-size);
}

.statItem__name {
  font-size: var(--h3-size);
}

.timerBooster {
  font-size: calc(var(--h2-size) + 4px);
  color: var(--texte-sous-texte-2);
}

.navContainer.menu {
  margin-top: 20px;
}

.popupBtn {
  position: fixed;
  bottom: 50px;
  right: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  height: 50px;
  width: 50px;
  border-radius: 50%; 
  background-color: var(--fond-block-infos);
  border: 1px solid var(--bordure-objet);
  cursor: pointer;
  color: var(--texte-primaire);
  transition: background-color 0.3s;
}

.popupBtn:hover {
  background-color: var(--fond-hovered);
}

.popupBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%);
  z-index: 100;
  height: 500px;
  /* width: max(300px, 60%); */
  width: clamp(300px, 60%, 700px);
  display: flex;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  color: var(--texte-primaire);
  background-color: var(--transparent-section);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid var(--bordure-objet);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out, visibility .3s ease-in-out;
}

.popupBox.active {
  opacity: 1;
  transform: translate(-50%, -50%);
  visibility: visible;
}


.popupContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 70%;
}

.popupContainer h3 {
  font-size: var(--h3-size);
}

.tradeForm__inputBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tradeForm__inputBox > label {
  font-weight: 500;
}

.tradeForm__inputBox > input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: var(--text-m-size);
}

.tradeForm {
  font-size: var(--text-m-size);
}

.tradeForm > * +  * {
  margin-top: 30px;
}

.tradeFormBtn {
  padding: 10px 15px;
  background-color: var(--secondary);
  border: none;
  border-radius: 5px;
  color: var(--blue-50);
  font-size: var(--text-m-size);
  cursor: pointer;
  transition: background-color 0.3s;
}

.tradeFormBtn:hover {
  background-color: var(--secondary-hover);
}

.toggleMode {
  height: 40px;
  width: 90px;
  background-color: var(--fond-block-infos);
  border: 1px solid var(--bordure-objet);
  border-radius: 100vw;
  position: relative;
  cursor: pointer;
}

.toggleMode__circle {
  height: 35px;
  width: 35px;
  border-radius: 100vw;
  background-color: var(--secondary);
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-in-out;
}

:root[data-theme=light] .toggleMode__circle {
  transform: translate3d(5px, -50%, 0);

}

:root[data-theme=dark] .toggleMode__circle {
  transform: translate3d(50px, -50%, 0);
}

.deployNav {
  display: none;
}

#openBoosterBtn {
  font-size: var(--text-m-size);
  color: var(--blue-50);
  padding: 7px 14px;
  background-color: var(--secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#openBoosterBtn:hover {
  background-color: var(--secondary-hover);
}

.boosterWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: var(--fond-primaire);
  border: 1px solid var(--bordure-objet);
  text-align: center ;
  padding-block: 50px;
}

.boosterWindow__title {
  font-size: var(--h3-size);
  color: var(--texte-primaire);
}

.boosterWindow__cardsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-inline: 50px;
}

.boosterWindow__cardsBox__cardContainer {
  position: relative;
  width: 220px;
  height: 350px;
  animation: 0.6s cubic-bezier(.73,.02,.22,1.02) calc(var(--delay) * .3s) forwards cardAnimation;
  opacity: 0;
  transform: translateY(-70px);
}

@keyframes cardAnimation {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.boosterWindow__cardsBox__card {
  position: absolute;
  border-radius: 10px;
  border: 1px solid var(--bordure-objet);
  background-color: var(--fond-block-infos);
  max-width: 220px;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform: perspective(1000px) rotateY(180deg);
  cursor: pointer;
}

.boosterWindow__cardsBox__card.show {
  transform: perspective(1000px) rotateY(0deg);
  cursor: auto;
} 

.boosterWindow__cardsBox__cardFront,
.boosterWindow__cardsBox__cardBack {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: var(--fond-block-infos);
}

.boosterwindow__cardsBox__cardBack > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transform: rotateY(180deg); */
}

.boosterWindow__cardsBox__cardFront {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
}

.boosterWindow__cardsBox__cardBack {
  transform: rotateY(-180deg)
}

.boosterWindow__cardsBox__card__name {
  font-size: var(--text-m-size);
  color: var(--texte-sous-texte);
  white-space: wrap;
  overflow: hidden;         /* Hides the text that overflows the container */
  text-overflow: ellipsis;  /* Adds the "..." at the end when the text overflows */
  width: 100%;
}

.boosterWindow__cardsBox__card__imageBox {
  width: 100%;
  height: 90%;
  overflow: hidden;
  border-radius: 5px;
}

.boosterWindow__cardsBox__card__imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boosterWindow__boxBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.boosterWindow__boxBtn__closeBtn {
  font-size: var(--text-p-size);
  font-weight: 500;
  font-family: 'Outfit', sans-serif;
  padding: 10px 30px;
  background-color: var(--secondary);
  border: none;
  border-radius: 5px;
  color: var(--blue-50);
  cursor: pointer;
  transition: background-color 0.3s;
}

.boosterWindow__boxBtn__closeBtn:hover {
  background-color: var(--secondary-hover);
}


.sliderBox {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  max-width: 800px;
  height: 100%;
  padding: 20px;
  background-color: var(--fond-primaire);
  border-left: 3px solid var(--bordure-section);
  z-index: 20;
  transition: transform 0.5s;
}

.sliderBox.open {
  transform: translateX(0);
}

.sliderBox__sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.sliderBox__sliderContainer__notifBox,
.sliderBox__sliderContainer__friendBox {
  width: 100%;
  height: 50%;
}

.sliderBox__sliderContainer__notifBox__notifList,
.sliderBox__sliderContainer__friendBox__friendList {
  margin-top: 20px;
  color: var(--texte-sous-texte-2);
}

.sliderBox__sliderContainer__notifBox__title,
.sliderBox__sliderContainer__friendBox__title {
  font-size: var(--h3-size);
  color: var(--texte-primaire);
}

.sliderBox__sliderContainer__notifBox__notifList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.sliderBox__sliderContainer__notifBox__notifList__notifElement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--bordure-objet);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 600px;
}

.sliderBox__sliderContainer__notifBox__notifList__notifElement__infosBox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--texte-sous-texte);
  gap: 10px;
  padding-right: 20px;
}

.sliderBox__sliderContainer__notifBox__notifList__notifElement__infosBox__text {
  font-size: var(--text-mp-size);
  white-space: nowrap;
}

.sliderBox__sliderContainer__notifBox__notifList__notifElement__infosBox__imgBox {
  width: 30px;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
}

.sliderBox__sliderContainer__notifBox__notifList__notifElement__infosBox__imgBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderBox__sliderContainer__notifBox__notifList__notifElement__btnBox,
.sliderBox__sliderContainer__friendBox__friendList__friendElement__btnBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.sliderBox__sliderContainer__notifBox__notifList__notifElement__btnBox > button,
.sliderBox__sliderContainer__friendBox__friendList__friendElement__btnBox > button,
.searchFriendContainer__resultsBox__resultElement__btnBox > button,
.tradeBox__btnBox > button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  font-size: var(--text-mp-size);
}


.sliderBox__sliderContainer__notifBox__notifList__notifElement__btnBox > .acceptBtn,
.sliderBox__sliderContainer__notifBox__notifList__notifElement__btnBox > .cancelBtn,
.sliderBox__sliderContainer__friendBox__friendList__friendElement__btnBox > .tradeBtn,
.searchFriendContainer__resultsBox__resultElement__btnBox > .addBtn,
.searchFriendContainer__resultsBox__resultElement__btnBox > .acceptBtn,
.tradeBox__btnBox > .confirmTradeBtn { 
  border-radius: 5px;
  padding-inline: 14px;
  padding-block: 6px;
  color: var(--blue-50);
  transition: background-color 0.3s;
}

.sliderBox__sliderContainer__notifBox__notifList__notifElement__btnBox > .acceptBtn,
.sliderBox__sliderContainer__friendBox__friendList__friendElement__btnBox > .tradeBtn,
.searchFriendContainer__resultsBox__resultElement__btnBox > .addBtn,
.searchFriendContainer__resultsBox__resultElement__btnBox > .acceptBtn,
.tradeBox__btnBox > .confirmTradeBtn {
  background-color: var(--secondary);
}

.sliderBox__sliderContainer__notifBox__notifList__notifElement__btnBox > .acceptBtn:hover,
.sliderBox__sliderContainer__friendBox__friendList__friendElement__btnBox > .tradeBtn:hover,
.searchFriendContainer__resultsBox__resultElement__btnBox > .addBtn:hover,
.searchFriendContainer__resultsBox__resultElement__btnBox > .acceptBtn:hover,
.tradeBox__btnBox > .confirmTradeBtn:hover {
  background-color: var(--secondary-hover);
}

.sliderBox__sliderContainer__notifBox__notifList__notifElement__btnBox > .cancelBtn {
  background-color: var(--danger-color);
}

.sliderBox__sliderContainer__friendBox__friendList__friendElement__btnBox > .removeBtn {
  padding-inline: 14px;
  color: var(--danger-color);
  transition: color 0.3s;
}

.sliderBox__sliderContainer__friendBox__friendList__friendElement__btnBox > .removeBtn:hover {
  color: var(--danger-color-hover);
}

.sliderBox__sliderContainer__notifBox__notifList__notifElement__btnBox > .cancelBtn:hover {
  background-color: var(--danger-color-hover);
}

.sliderBox__sliderContainer__notifBox__notifList__notifElement__btnBox > .refuseBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  aspect-ratio: 1;
  color: var(--blue-400);
  border: 1px solid var(--blue-400);
  border-radius: 60%;
}

.refuseBtn > i {
  transform: translateY(1px);
}

.sliderBox__sliderContainer__friendBox__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sliderBox__sliderContainer__friendBox__top > i {
  font-size: var(--text-p-size);
  cursor: pointer;
  transform: translateY(2px);
  -webkit-text-stroke: 0.5px var(--texte-primaire);
  transition: color 0.2s;
}

.sliderBox__sliderContainer__friendBox__top > i:hover {
  color: var(--texte-primaire);
}

.sliderBox__sliderContainer__friendBox__friendList {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.sliderBox__sliderContainer__friendBox__friendList__friendElement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--fond-primaire);
  border: 1px solid var(--bordure-objet);
  border-radius: 5px;
  gap: 10px;
  padding: 10px;
  flex: 1;
  max-width: 200px;
}

.sliderBox__sliderContainer__friendBox__friendList__friendElement__infosBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.sliderBox__sliderContainer__friendBox__friendList__friendElement__infosBox__imgBox {
  width: 50px;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
}

.sliderBox__sliderContainer__friendBox__friendList__friendElement__infosBox__imgBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sliderBox__sliderContainer__friendBox__friendList__friendElement__name {
  font-size: var(--text-m-size);
  color: var(--texte-sous-texte);
}

.searchFriendBox {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: var(--fond-primaire);
  border: 1px solid var(--bordure-objet);
  border-radius: 10px;
  min-height: 150px;
  width: 700px;
  overflow: clip;
  z-index: 100;
}

.searchFriendBox.active {
  opacity: 1;
  visibility: visible;
}

.searchFriendContainer {
  width: 100%;
  height: 100%;
}


.searchFriendContainer > #searchFriend {
  padding: 8px 8px 16px;
  margin: 0 0 16px;
  border: none;
  border-bottom: 1px solid var(--bordure-objet);
  font-size: var(--text-p-size);
  color: var(--texte-primaire);
  font-family: 'Outfit', sans-serif;
  background: none;  
  outline: none;
  width: 100%;
}

.searchFriendContainer > #searchFriend::placeholder {
  color: #9299A4;
}

.searchFriendContainer__resultsBox {
  max-height: 400px;
  padding-right: 10px;
  overflow-y: scroll;
  text-align: center;
  color: var(--texte-primaire);
}

.searchFriendContainer__resultsBox::-webkit-scrollbar,
.dropdown__list::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin-left: 5px;
}

.searchFriendContainer__resultsBox::-webkit-scrollbar-thumb,
.dropdown__list::-webkit-scrollbar-thumb {
  background-color: var(--bordure-objet);
  border-radius: 20px;
}


.searchFriendContainer__resultsBox > * + * {
  margin-top: 8px;
}


.searchFriendContainer__resultsBox__resultElement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--fond-block-infos);
  color: var(--texte-sous-texte);
  padding: 10px;
  border-radius: 5px;
}

.searchFriendContainer__resultsBox__resultElement__infosBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.searchFriendContainer__resultsBox__resultElement__infosBox__imgBox {
  width: 40px;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
}

.searchFriendContainer__resultsBox__resultElement__infosBox__imgBox > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.searchFriendContainer__resultsBox__resultElement__name {
  font-size: var(--text-m-size);
}

.addedIcon {
  font-size: var(--text-mp-size);
  color: #3AD152;
}

.pendingMess {
  font-size: var(--text-mp-size);
  color: var(--texte-sous-texte-2);
}


.tradeBox {
  display: none;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transform: translate(-50%, -50%);
  background-color: var(--fond-primaire);
  border-radius: 10px;
  padding: 40px;
  border: 1px solid var(--bordure-objet);
  height: 550px;
  z-index: 100;
}

.tradeBox.active {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.tradeBox__mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.tradeBox__mainContent__title {
  font-size: var(--h3-size);
  color: var(--texte-primaire);
  font-weight: 400;
}

.tradeBox__mainContent__title > span {
  font-weight: 600;
}

.tradeBox__mainContent__tradeContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

.tradeBox__mainContent__tradeContainer__receiveBox,
.tradeBox__mainContent__tradeContainer__giveBox {
  color: var(--texte-sous-texte);
}

.dropdown {
  width: 330px;
  margin-top: 10px;
}

.dropdown__selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 20px;
  border: 1px solid var(--bordure-objet);
  border-radius: 5px;
  cursor: pointer;
}

.dropdown__selected:hover {
  border-color: var(--blue-400);
}

.dropdown__list {
  display: none;
  width: 100%;
  margin-top: 10px;
  overflow-y: scroll;
  max-height: 200px;
  color: var(--texte-sous-texte-2);
  padding-right: 10px;
}

.dropdown__list.active {
  display: block;
}

.dropdown__list > * + * {
  margin-top: 5px;
}

.dropdown__list__element {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  width: 100%;
  background-color: var(--fond-block-infos);
  padding-inline: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown__list__element:hover {
  background-color: var(--blue-700);
  border: 1px solid var(--blue-500);
}


.tradeBox__btnBox {
  align-self: flex-end;
}


@media (max-width: 900px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    height: 100vh;
    transition: transform 0.3s;
    z-index: 100;
  }

  .sidebar.visible {
    transform: translateX(0);
  }

  .deployNav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    position: absolute;
    right: -50px;
    top: 50%;
    padding-inline: 10px;
    height: 40px;
    background-color: var(--fond-primaire);
    transform: translate(-50%, 0);
    border-radius: 0 5px 5px 0; 
    border: 1px solid var(--bordure-objet);
    cursor: pointer;
  }

}