footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--padding-inline);
  height: 200px;
  border-top: 4px solid var(--bordure-section);
  gap: max(30px);
}

.footerNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(5px + 2vw);
  flex-wrap: wrap;
}