@import url('../main.css');


.notificationPopup {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--bordure-objet);
  background-color: var(--fond-block-infos);
  color: var(--texte-sous-texte);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
  opacity: 0;
  animation: fadeInTop 0.4s ease forwards;
}

@keyframes fadeInTop {
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
